{% extends '_base.html' %}
{% load blog_tags %}

{% block title%}{{ post.title }}{% endblock title%}

{% block content %}
    <div class="flow">
        <h1 class="text-accent fs-700 ff-sans-cond uppercase letter-spacing-1">{{ post.title }}</h1>
        <p class="fs-300 letter-spacing-3 ff-sans-sariff">
            Published {{ post.publish }} by {{ post.author }}
        </p>
        {{ post.body|markdown }}
        <p class="share-post">
            <a href="{% url 'blog:post_share' post.id %}">
                Share this post
            </a>
        </p>
        <h2 class="text-accent fs-500 ff-sans-cond uppercase letter-spacing-1">Similar posts</h2>
        {% for post in similar_posts %}
            <p class="anchors">
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </p>
        {% empty %}
            There are no similar posts yet.
        {% endfor %}
        {% with comments.count as total_comments %}
            <h2 class="text-accent fs-600 ff-sans-cond uppercase letter-spacing-1">
                {{ total_comments }} comment{{ total_comments|pluralize }}
            </h2>
        {% endwith %}
    </div>
        {% for comment in comments %}
            <div class="comment">
                <p class="comment-info">
                    Comment {{ forloop.counter }} by {{ comment.name }}
                    {{ comment.created }}
                </p>
                <div class="comment-body">
                    {{ comment.body|linebreaks }}
                </div>  
            </div>
        {% empty %}
            <p class="no-comments">There are no comments.</p>
        {% endfor %}
    {% include 'post/includes/_comment_form.html' %}
{% endblock content %}